body {background:#fff0f5;}
#table {background:#ff69b4;}
#func {
	height: 50px;
	position: relative;
	top: 7px;
	margin-left: 30px;
}

#form {
	position: relative;
	top: 8px;
}

.funcs {
	display: inline-block;
	margin-right: 20px;
}
